<div class="container">
<h3>Update Employee</h3>
<!--<div [hidden]="submitted" style="width: 400px;">-->
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nameE">First Name</label>
      <input type="text" class="form-control" id="nameE" required [(ngModel)]="employee.nameE" name="nameE" >
    </div>

    <div class="form-group">
      <label for="email">Last Name</label>
      <input type="text" class="form-control" id="email" required [(ngModel)]="employee.email" name="email">
    </div>

    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="text" class="form-control" id="phone" required [(ngModel)]="employee.phone" name="phone">
    </div>

    <div class="form-group">
      <label for="phone">Birth day</label>
      <input type="date" class="form-control" id="birthday" required [(ngModel)]="employee.birthday" name="birthday">
    </div>

    <div class="form-group">
      <label for="phone">Company ID</label>
      <input type="text" class="form-control" id="idC" required [(ngModel)]="company.idC" name="idC">
    </div>

    <div class="form-group">
      <label for="phone">Tên công ty</label>
      <input type="text" class="form-control" id="companyname" required [(ngModel)]="company.nameC" name="companyname" disabled>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
