<div class="container">
  <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a  class="nav-link" href="/crud/employees">Employee List</a>
      </li>
      <li class="nav-item">
        <a routerLink="/crud/add" class="nav-link" href="#">Add Employee</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/bar-chart">Chart</a>
      </li>
      <a style="float: right;" class="nav-link" (click)="logout()">Logout</a>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>
