<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 style="float: left">Employee List</h2>
    <form (ngSubmit)="onSearch()" style="float: right" >
      <input type="text" id="keyword" required [(ngModel)]="keyword" name="keyword" placeholder="Tìm kiếm">
      <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="margin: 20px;">
        Tìm kiếm
      </button>
    </form>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">birthday</th>
        <th scope="col">phone</th>
        <th scope="col">Email</th>
        <th scope="col">Tên công ty</th>
        <th scope="col">Thao tác</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let employee of employees | async">
        <td>{{ employee.idE }}</td>
        <td>{{ employee.nameE}}</td>
        <td>{{ employee.birthday}}</td>
        <td>{{ employee.phone}}</td>
        <td><a href="mailto:{{ employee.email }}">{{ employee.email }}</a></td>
        <td>{{ employee.company.nameC}}</td>
        <td><button (click)="deleteEmployee(employee.idE)" class="btn btn-danger">Delete</button>
          <button (click)="updateEmployee(employee.idE)" class="btn btn-info" style="margin-left: 10px">Update</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <button class="btn btn-danger"> HIHI</button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="width: 1050px; right: 300px;">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div >
        <div class="modal-body">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">birthday</th>
              <th scope="col">phone</th>
              <th scope="col">Email</th>
              <th scope="col">Tên công ty</th>
              <th scope="col">Thao tác</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let employee of employeesfound">
              <td>{{ employee.idE }}</td>
              <td>{{ employee.nameE}}</td>
              <td>{{ employee.birthday}}</td>
              <td>{{ employee.phone}}</td>
              <td><a href="mailto:{{ employee.email }}">{{ employee.email }}</a></td>
              <td>{{ employee.company.nameC}}</td>
              <td><button (click)="deleteEmployee(employee.idE)" class="btn btn-danger">Delete</button>
                <button (click)="updateEmployee(employee.idE)" type="button" class="btn btn-secondary" data-dismiss="modal" style="margin-left: 10px">Update</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

