<div class="container">
  <h3>Create Employee</h3>
  <div [hidden]="submitted" style="width: 400px;">
    <form class="form-signin" (ngSubmit)="onSubmit(validForm.value)" [formGroup]="validForm">
      <div class="form-group">
        <label for="nameE">Full Name</label>
        <input type="text" class="form-control" id="nameE" required formControlName="name"  >
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <div *ngIf="email.errors" style="color: red; float: right;">Chưa đúng định dạng email</div>
        <input type="text" class="form-control" id="email" required formControlName="email" >
      </div>

      <div class="form-group">
        <label for="phone">Phone</label>
        <div *ngIf="phone.errors" style="color: red;">Đầu số (09|03|01|05|08) và ít nhất 7 số đuôi</div>
        <input type="text" class="form-control" id="phone" required formControlName="phone" >
      </div>

      <div class="form-group">
        <label for="phone">birthday</label>
        <input type="date" class="form-control " id="birthday" required formControlName="birthday">
      </div>


      <div class="form-group">
        <label for="company">ID Công ty</label>
        <input type="text" class="form-control" style="width:95%;" id="company" required formControlName="idC" >
      </div>
      <div class="form-group">
        <label for="company">Password</label>
        <div *ngIf="password.errors" style="color: red; float: right;">Ít nhất 6 kí tự bao gồm chữ hoa, thường, số</div>
        <input type="password" class="form-control" id="passworde" required  formControlName="passworde"  >
      </div>
      <div class="form-group">
        <label for="company">Confirm Password</label>
        <div *ngIf="password.value != confirmPassword.value" style="color: red; float: right;" id="error">Xác nhận mật khẩu chưa trùng</div>
        <input type="password" class="form-control" id="repassword" required formControlName="confirmPassword" >
        <!--onkeyup='check();'-->
        <p id="message"></p>
      </div>

      <button type="submit" class="btn btn-success" id="button-creat">Submit</button>
    </form>
  </div>
</div>

