<div>
  <div>
    <div style="display: block">
      <canvas #screen  baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [plugins]="barChartPlugins"
              [legend]="barChartLegend"
              [chartType]="barChartType">
      </canvas>
      <div id="download">
        <img #canvas>
        <a #downloadLink></a>
      </div>
    </div>
    <!--<button mat-button mat-raised-button color="primary" (click)="randomize()">Update</button>-->
  </div>
</div>
<div id="content" #content>
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tên công ty</th>
      <th scope="col">Số lượng nhân viên</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let amountCompany of amountCompanyList |  async">
      <th scope="row">{{amountCompany.idC}}</th>
      <td>{{amountCompany.name}}</td>
      <td>{{amountCompany.amount}}</td>
    </tr>
    </tbody>
  </table>
</div>

<input type="button" value="Download PDF" class="btn btn-success" (click)="SavePDF()">
<input type="button" value="Download PNG" class="btn btn-success" (click)="downloadImage()">
